* {
    font-family: Times;
    color: white;
    text-align: center;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

#clock-frame {
    width: 100%;
    font-size: 5em;
}
